name: "Publish Hasher"
on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish Hasher
    runs-on: ubuntu-latest
    container:
      image: openjdk:16-jdk
      options: --user root
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Generate and publish mappings
        run: ./gradlew publish --stacktrace -PshouldPublishHasher
        env:
          MAVEN_URL: ${{ secrets.MAVEN_URL }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
